

<ion-content>
  <div class="header">
    <!-- <ion-title>Connexion</ion-title> -->
    <ion-toolbar>
      <h2> REYHAN Immo </h2>
      <h4>L'exigence de la qualité</h4>
    </ion-toolbar>
  </div>
  <ion-thumbnail>
    <img src="assets/img/user.png" />
  </ion-thumbnail>
  <ion-list>
    <ion-item routerLink="/login">
      <ion-icon class="icon" slot="start" name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon class="icon" slot="start" name="cash-outline"></ion-icon>
      <ion-label>Mes finances</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item routerLink="/messagerie" >
      <ion-icon class="icon" slot="start" name="mail-outline"></ion-icon>
      <ion-label>Mes messages</ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

  </ion-list>

  
</ion-content>
