<!-- 

<ion-content>
<div class="photo">
<ion-card>

</ion-card>
</div>
<div class="desc">
  <h1 class="titre">Trouver l'endroit <br> idéal.</h1>
  <p class="text">En quelques clics, bla bla bla </p>

</div>
 <ion-button routerLink="/login" size="large">Se connecter</ion-button>
<p class="clic" routerLink="/inscription">Vous n'avez pas de compte? <ion-text style="color: #76231a;font-style: italic;"> Cliquez ici!</ion-text> </p>	

<ion-spinner  name="crescent"> </ion-spinner>
</ion-content> -->


<ion-content>
  <div class="splash"></div>
  </ion-content>
  